<nz-card class="bordered-none" style="width:476px;" [@fadeAnimation]>
  <form nz-form class="w-100" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordRequest(forgotPasswordForm.value)">
    <nz-page-header nzTitle="Forgot Password" class="px-0 pb-3 pt-0"></nz-page-header>
    <nz-alert
      class="mx-0 mb-4"
      *ngIf="forgotPasswordRequestResponseMessage$ | async as message"
      [nzType]="message?.status || 'error'"
      [nzMessage]="(message?.message) || ''"
      nzShowIcon
    ></nz-alert>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid email!">
        <nz-input-group nzPrefixIcon="mail">
          <input
              vspAutoFocusControl
              type="text" 
              nz-input 
              formControlName="email" 
              placeholder="Email Address" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="block w-100" [nzType]="'primary'">Request Password Reset</button>
    <div class="text-center mt-4">
      Or <a routerLink="/auth/sign-in">sign in now!</a>
    </div>
  </form>
</nz-card>
