<nz-page-header style="background: white;" class="bordered-bottom" nzTitle="Create Permissions Template" nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a>Security</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Permissions</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Create</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button
        nz-button 
        nzType="primary"
        (click)="onCreateTempalteModulePermissionName(createTemplateModulePermissionNameForm.value, true)">
      Save
    </button>
    <button
        nz-button 
        nzType="default"
        (click)="onCreateTempalteModulePermissionName(createTemplateModulePermissionNameForm.value, false)">
      Save & Create Another
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="p-4">
  <nz-card class="w-100 p-0">
    <form class="block" [formGroup]="createTemplateModulePermissionNameForm">
      <vsp-template-module-permission-name-form></vsp-template-module-permission-name-form>
    </form>
  </nz-card>
</div>
