<nz-card class="bordered-none" style="width:476px;" [@fadeAnimation]>
  <form nz-form class="w-100" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordRequest(resetPasswordForm.value)">
    <nz-page-header nzTitle="Reset Password" class="px-0 pb-3 pt-0"></nz-page-header>
    <nz-alert
      class="mx-0 mb-4"
      *ngIf="resetPasswordResponseMessage$ | async as message"
      [nzType]="message?.status || 'error'"
      [nzMessage]="(message?.message) || ''"
      nzShowIcon
    ></nz-alert>

    <!-- Password Control -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passwordErrorTemplate">
        <nz-input-group nzPrefixIcon="lock">
          <input 
              type="password" 
              nz-input 
              formControlName="password" 
              placeholder="Password" />
        </nz-input-group>
        <ng-template #passwordErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">Password is required!</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">Password must be 6 characters (upper/lower case, numbers and symbols)!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Confirm Password Control -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="confirmPasswordErrorTemplate">
        <nz-input-group nzPrefixIcon="lock">
          <input 
              type="password" 
              nz-input 
              formControlName="confirmPassword" 
              placeholder="Confirm Password" />
        </nz-input-group>
        <ng-template #confirmPasswordErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">Confirm Password is required!</ng-container>
          <ng-container *ngIf="control.hasError('mustMatch')">Confirm Password must match Password!</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">Password must be 6 characters (upper/lower case, numbers and symbols)!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <button nz-button class="block w-100" [nzType]="'primary'">Reset Password</button>
    <div class="text-center mt-4">
      Or <a routerLink="/auth/sign-in">sign in now!</a>
    </div>
  </form>
</nz-card>
